
body{
    background-color: rgb(250, 214, 242);
    color: rgb(255, 117, 170);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style-type: none;
    padding: 5px 15px;    
    transition: all 500ms;
}
nav li:hover{
    color: rgb(236, 129, 170);
}

main img{
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
}
footer{
    background-color: rgb(255, 117, 170);
    color: #fff;
}

@media (max-width:1024px){
    nav li{width: 100%;}    
}

