
body{
    background-color: rgb(250, 214, 242);
    color: rgb(255, 117, 170);
    font-family: "Noto Sans TC";
    margin: 0;
    text-align: center;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}
nav li{
    list-style-type: none;
    padding: 5px 15px;    
    transition: all 500ms;
}
nav li:hover{
    color: rgb(211, 25, 96);
}

main img{
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    display: block;
}
button{
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #f580b8;
    transition: all 500ms;    
}
button:hover{
    background-color: #da297e;
}
footer{
    background-color: rgb(255, 117, 170);
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

@media (max-width:1024px){
    nav li{width: 100%;}    
}

