body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
header{
  h1{text-align: center;}
  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  nav li{
    padding: 3px 10px;
    list-style-type: none;
  }
  nav li:hover{
    color: rgb(73, 55, 44);
  }
}
main {
    background-color: #fff;
    padding: 50px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-align: center;
}
img{width: 100%;}

  p{
    font-size: 15px;
    margin: 5px 0 ;
    line-height: 1.5;
  }
    .info-text {
    color: #734f30;
    font-weight: bold;
    margin-top: 10px;
}

footer{
  text-align: center;
  padding: 20px;
  background-color: #734f30;
  color: #fff;
}

  @media (max-width:1024px){
    nav li{width: 100px;}
  }